# original: http://bogomips.org/cmogstored/examples/cmogstored%40.service
# ==> /etc/systemd/system/cmogstored@.service <==
# systemd-style socket activation requires cmogstored 1.5.0 and later
# Since SIGUSR2 upgrades do not work under systemd, this service file
# allows starting two simultaneous services during upgrade time
# (e.g. cmogstored@1 cmogstored@2) with the intention that they take
# turns running in-between upgrades.  This should allow upgrading
# without downtime

[Unit]
Description = cmogstored storage server %i
Wants = cmogstored.socket
After = cmogstored.socket

[Service]
ExecStart = /usr/local/bin/cmogstored \
	    --httplisten=<%= node[:cmogstored][:httplisten] || '0.0.0.0:7500' %> \
	    --mgmtlisten=<%= node[:cmogstored][:mgmtlisten] || '0.0.0.0:7501' %> \
	    --docroot=<%= node[:cmogstored][:docroot] || '/var/mogdata' %>
Sockets = cmogstored.socket
KillSignal = SIGQUIT
User = <%= node[:cmogstored][:user] || 'mogile' %>
Group = <%= node[:cmogstored][:group] || 'mogile' %>
LimitNOFILE = 10000
# some clients are slow, give them time before SIGKILL
TimeoutStopSec = 7200

[Install]
WantedBy = multi-user.target
