# original: http://bogomips.org/cmogstored/examples/cmogstored.socket
# ==> /etc/systemd/system/cmogstored.socket <==
# systemd-style socket activation requires cmogstored 1.5.0 and later
[Unit]
Description = cmogstored sockets

[Socket]
ListenStream = <%= node[:cmogstored][:httplisten] || '0.0.0.0:7500' %>
ListenStream = <%= node[:cmogstored][:mgmtlisten] || '0.0.0.0:7501' %>
Service = cmogstored@1.service

[Install]
WantedBy = sockets.target
